.contact-footer{
    max-width: 943px;
    height: auto;
    width: 95%;
    margin: 0 auto;
    &__form{
        max-width: 378px;
        width: 100%;
    }
    &__form-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // padding: 0 10px;
        @media (max-width: 900px) {
            width: 100%;
        }
        button {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            border-radius: 10px;
            width: 30%;
            transition: box-shadow 0.3s, transform 0.3s;
            box-shadow: -3px 4px 5px -1px rgb(0 0 0 / 16%), -10px 10px 12px 5px rgb(0 0 0 / 10%), inset -35px 35px 48px rgb(0 0 0 / 2%);
            &:hover {
                box-shadow: -3px 4px 5px -1px rgb(0 0 0 / 16%), -5px 5px 15px 3px rgb(0 0 0 / 7%), inset 0px 0px 14px rgb(0 0 0 / 3%), inset -35px 35px 48px rgb(0 0 0 / 1%);
                transition: box-shadow 0.3s, transform 0.3s;
                transform: translateY(2px);
            }
            @media (max-width: 900px) {
                width: 30%;
                margin: 35px auto;
                padding: 0 20px;
                height: 48px;
            }
        }
    }
    h2{
        font-family: 'Orbitron';
        font-size: 38px;
        font-weight: 400;
        line-height: 57px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 35px;
    }
    h3{
        font-family: 'Orbitron';
        font-weight: 400;
        line-height: 57px;
        letter-spacing: 0em;
    }
    .input-spacing{
        margin: 0 10px 35px 10px;
        width: 100%;
        input {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            transition: box-shadow 0.3s, transform 0.3s;
            &:hover {
                box-shadow: -3px 4px 5px -1px rgb(0 0 0 / 16%), -5px 5px 15px 3px rgb(0 0 0 / 7%), inset 0px 0px 14px rgb(0 0 0 / 3%), inset -35px 35px 48px rgb(0 0 0 / 1%);
                transition: box-shadow 0.3s, transform 0.3s;
                transform: translateY(2px);
            }
        }
    }
    &__container{
        margin-top: 47px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__social{
        background: #FFFFFF;
        max-width: 452px;
        width: 100%;
        min-height: 297px;
        height: auto;
        box-shadow: -3px 4px 5px -1px rgb(0 0 0 / 16%), -10px 10px 12px 5px rgb(0 0 0 / 10%), inset -35px 35px 48px rgb(0 0 0 / 2%);
        border-radius: 15px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        a {
            text-decoration: none;
        }
        @media (max-width: 550px) {
            box-shadow: none;
        }
        h4{
            position: absolute;
            top:29px;
            text-align: center;
            left:0px;
            width: 100%;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            /* Dark Blue */
            color: #07134D;
        }
        .social-item{
            width: 50%;
            height: 50%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media (max-width: 550px) {
                width: 100%;
                height: fit-content;
                margin-bottom: 25px;
                display: flex;
                flex-direction: row;
                // justify-content: start;
                &__icon {
                    margin: 0 20px 0 0;
                } 
            }
            &:hover {
                cursor: pointer;
            }
            &:hover .social-item__icon {
                box-shadow: -3px 4px 5px -1px rgb(0 0 0 / 16%), -5px 5px 15px 3px rgb(0 0 0 / 7%), inset 0px 0px 14px rgb(0 0 0 / 3%), inset -35px 35px 48px rgb(0 0 0 / 1%);
                transition: box-shadow 0.3s, transform 0.3s;
                transform: translateY(2px);
            }
            &__icon{
                background: #F9F9F9;
                width: 62px;
                height: 62px;
                display: flex;
                align-items: center;
                justify-content: center;
                vertical-align: middle;
                box-shadow: -3px 4px 5px -1px rgba(0, 0, 0, 0.05), -7px 7px 12px 5px rgba(0, 0, 0, 0.04), inset -35px 35px 48px rgba(0, 0, 0, 0.02);
                border-radius: 16px;
                margin: 0 auto 10px auto;
                transition: box-shadow 0.3s, transform 0.3s;
                @media (max-width: 550px) {
                    // margin: 0 20px 15px 0;
                }
            }
            p{
                color:#07134D;
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
    &__social-container{
        width: 90%;
        display: flex;
        align-items: center;
        vertical-align: middle;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 75px;
    }
}

@media only screen and (max-width: 900px){
    .contact-footer__container{
        flex-direction: column;
        align-items: center;
    }
    .contact-footer__form{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px){
    .contact-footer__form{
        width: 100%;
    }
    .contact-footer__social .social-item{
        justify-self: center;
    }
}