.content-image{
    display: flex;
    flex-direction: row;
    max-width: 943px;
    width: 95%;
    margin: 25px auto;
    justify-content: space-between;
    // margin: 0 auto;
    &__content{
        max-width: 555px;
        width: 95%;
        p,li,ul,ol{
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            color:#07134D;
        }
        h3{
            font-family: Orbitron;
            font-size: 24px;
            font-weight: 400;
            line-height: 31px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 17px;
        }
    }
    &__image{
        max-width: 360px;
        height: 349px;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: -3px 4px 5px -1px rgba(0, 0, 0, 0.16), -25px 25px 32px 5px rgba(0, 0, 0, 0.15), inset 0px 0px 200px rgba(0, 0, 0, 0.05), inset -35px 35px 48px rgba(0, 0, 0, 0.02);
        img{
            object-fit: cover;
            width: 100%;
            position: relative;
            top: -25%;
        }
    }
    @media only screen and (max-width: 900px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .content-image__image{
            max-width: 95%;
        }
        .content-image__content{
            max-width: 95%;
            margin-bottom: 50px;
        }
    }
}