.service-page-links{
    // max-width: 944px;
    width: 100%;
    margin: 0px auto;
    padding: 50px 0px;
    h2{
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 130%;
        width: 95%;
        max-width: 944px;
        margin: 0 auto;
        color: #07134D;
        margin-bottom: 66px;
    }
    &__row{
        width: 100%;
        display: flex;
        // max-width: 944px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    &__links{
        // max-width: 218px;
        // width: -webkit-max-content;
        // width: -moz-max-content;
        // width: max-content;
        width: 16%;
        text-align: center;
        display: flex;
        vertical-align: top;
        flex-direction: column;
        align-items: center;
    }
    &__circle{
        width: 111px;
        height: 111px;
        background: #FFFFFF;
        /* Meet the team tile */
        border-radius: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: -3px 4px 5px -1px rgba(0, 0, 0, 0.16), -10px 10px 30px 5px rgba(0, 0, 0, 0.15), inset 0px 0px 14px rgba(0, 0, 0, 0.03), inset -35px 35px 48px rgba(0, 0, 0, 0.01);
        margin-bottom: 20px;
        transition: box-shadow 0.3s, transform 0.3s;
        transform: translateY(0px);
        a{
            width: 100%;
            height: 100%;
            position: absolute;
        }
        &:hover{
            box-shadow: -3px 4px 5px -1px rgba(0, 0, 0, 0.16), -5px 5px 15px 3px rgba(0, 0, 0, 0.07), inset 0px 0px 14px rgba(0, 0, 0, 0.03), inset -35px 35px 48px rgba(0, 0, 0, 0.01);
            transform: translateY(1px);
            transition: box-shadow 0.3s, transform 0.3s;
        }
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
        }
    }
}

@media only screen and (max-width: 740px){
    .service-page-links{
        align-items: center;
        width: 100%;
        padding: 0px 20px;
        justify-content: center;
        h2{
            font-size: 24px;
            // max-width: 245px;
        }
        &__row{
            flex-wrap: wrap;
        }
        &__links{
            width: 50%;
            margin-bottom: 52px;
        }
    }
}