.circle-icon{
    width: 193px;
    height: 193px;
    background: #FFFFFF;
    border-radius: 200px;
    position: relative;
    box-shadow: -3px 4px 5px -1px rgba(0, 0, 0, 0.16), -25px 25px 32px 5px rgba(0, 0, 0, 0.15), inset 0px 0px 200px rgba(0, 0, 0, 0.05), inset -35px 35px 48px rgba(0, 0, 0, 0.02);
}