.drag-map{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top:0px;
    overflow: hidden;
    background: rgb(168,169,249);
    background: linear-gradient(90deg, rgba(168,169,249,1) 14%, rgba(159,225,241,1) 66%);
    &__container{
        // position: relative;
        left: 0px;
        top:0px;
        width: 3020px;
        height: 2065px;
        // width: 400px;
        // height: 400px;
        img{
            object-fit: contain;
            width: 100%;
        }
    }
    // &__buttons{
    //     width: 100%;
    //     height: 100%;
    // }   
    &__city{
        // width: 6040px;
        // height: 4130px;
        width: 4530px;
        height: 3097px;
        // width: 600px;
        // height: 600px;
        left: 0px;
        top:0px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
    }
    &__city-absolute{
        width: 4530px;
        height: 3097px;
        left:calc( 50vw - 2265px);
        top:calc( 50vh - 1548px);
        position: absolute;
        display: flex;
        align-items: center;
    }
    svg{
        position: absolute;
    }
}


.city-map-cards{
    position: absolute;
    cursor: pointer;
    transform: rotateX(326deg) rotateY(314deg);
    transform-style: preserve-3d;
    img{
        max-width: 225px;
        width: auto;
        position: absolute;
        object-fit: initial;
    }
    &__background{
        transform: translate(24px, -25px);
        position: absolute;
        transition: transform 0.7s ease;
    }
    &__dot-border{
        border: dashed #fff 2px;
        position: absolute;
        transition: transform 0.7s ease;
        transform: translate(-24px, 29px);
    }
    &__drop-shadow{
        background-color: #000000ab;
        position: absolute;
        opacity: 0.2;
        height: 1px;
        /* bottom: 0px; */
        top: 100%;
        transform: translateY(37px);
        box-shadow: 1px -1px 12px 6px #000000;
        animation: myShadow 5s infinite ease-in-out;
    }
    &__float{
        animation: mymove 5s infinite ease-in-out;
    }
    &:hover{
        .city-map-cards__background{
            transform: translate(0px, 0px);
            position: absolute;
            transition: transform 0.45s ease;
        }
        .city-map-cards__dot-border{
            border: dashed #fff 2px;
            position: absolute;
            transform: translate(0px, 0px);
            transition: transform 0.45s ease;
        }
    }
}
.city-map-svg{
    width: 100%;
    height: 100%;
}

@keyframes mymove {
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes myShadow {
    0% {
        box-shadow: 1px -1px 17px 8px #000000;
    }
    50%{
        box-shadow: 1px -1px 26px 15px #000000;
    }
    100% {
        box-shadow: 1px -1px 17px 8px #000000;
    }
}


.page-open{
    .drag-map__container{
        img{
            filter: blur(8px);
            -webkit-filter: blur(8px);
            transform: scale(1.2); /*70%*/
            transition: filter 0.7s ease-in-out, transform 1s ease-in-out;
        }
    }
}
.map-open{
    .drag-map__container{
        img{
            filter: blur(0px);
            -webkit-filter: blur(0px);
            transform: scale(1); /*70%*/
            transition: filter 0.7s ease-in-out, transform 1s ease-in-out;
        }
    }
}