.drop-down{
    width: 65%;
    height: 48px;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    // box-shadow: -3px 4px 5px -1px rgba(0, 0, 0, 0.16), -10px 10px 12px 5px rgba(0, 0, 0, 0.1), inset -35px 35px 48px rgba(0, 0, 0, 0.02);
    // box-shadow: -3px 4px 5px -1px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    transition: box-shadow 0.3s, transform 0.3s;
    @media (max-width: 900px) {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    &:hover {
        box-shadow: -3px 4px 5px -1px rgb(0 0 0 / 16%), -5px 5px 15px 3px rgb(0 0 0 / 7%), inset 0px 0px 14px rgb(0 0 0 / 3%), inset -35px 35px 48px rgb(0 0 0 / 1%);
        transition: box-shadow 0.3s, transform 0.3s;
        transform: translateY(2px);
    }
    p{
        margin: 0px;
    }
    &__active{
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        box-shadow: -3px 4px 5px -1px rgba(0, 0, 0, 0.16), -10px 10px 12px 5px rgba(0, 0, 0, 0.1), inset -35px 35px 48px rgba(0, 0, 0, 0.02);
        // box-shadow: -3px 4px 5px -1px rgba(0, 0, 0, 0.16), -10px 10px 12px 5px rgba(0, 0, 0, 0.1), inset -35px 35px 48px rgba(0, 0, 0, 0.02);
        border-radius: 10px;
        justify-content: space-between;
        vertical-align: middle;
        text-align: center;
        padding: 0px 20px;
        z-index: 10;
        background-color: #fff;
        cursor: pointer;
        overflow: hidden;
    }
    .icon{
        height: 22px;
    }
    &__item{
        width: 100%;
        height: 32px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 22%);
        transition: 0.3s box-shadow ease-in-out;
        &:hover{
            box-shadow: -3px 0px 6px rgba(0, 0, 0, 0.13), -10px 10px 12px 5px rgba(0, 0, 0, 0.02), inset -35px 35px 48px rgba(0, 0, 0, 0.02);
            transition: 0.3s box-shadow ease-in-out;
        }
    }
    &__options{
        width: 100%;
        background-color: #fff;
        overflow: hidden;
        position: absolute;
        border-radius: 15px;
        padding-top: 32px;
        box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 22%);
        transition: all 0.4s ease-out;
    }
}

