.footer{
    width: 100%;
    min-height: 250px;
    height: fit-content;
    padding: 20px 0;
    background-color: #07134D;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border-radius: 15px 15px 0px 0px;;
    &__image {
        @media (max-width: 550px) {
            margin: 0 auto;
        }
    }
    &__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__links {
        @media (max-width: 550px) {
            margin-top: 20px;            
        }
    }
    &__coloumn{
        margin: 0px 55px;
        max-width: 110px;
        a {
            transition: ease 0.2s;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                text-underline-offset: 5px;
                transition: ease 0.2s;
            }
        }
        // @media (max-width: 960px) {
        //     margin: 0px 20px;
        // }
        @media (max-width: 550px) {
            width: 100%;         
            text-align: center;   
        }
    }
    &__image{
        width: 180px;
        img{
            width: 109px;
            height: auto;
            margin-bottom: 17px;
        }
    }
    h5{
        color: #F79386;
        font-size: 14px;
        margin-bottom: 17px;
    }
    a,p{
        color:#fff !important;
        font-size: 14px;
        line-height: 17px;
    }
    &__made-by{
        width: 100vw;
        background-color: #000;
        position: relative;
        bottom: 0px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        a,p{
            font-style: normal;
            font-family: montserrat, sans-serif;
            font-weight: 400;
            font-size: 14px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF !important;
            padding: 0px;
            margin: 0px !important;
            width: max-content;
        }
        a p{
            margin-left: 4px !important;
        }
    }
    &__reg{
        position: relative;
        bottom: 0px;
        margin: 0 auto;
        width: 100%;
        color: #fff;
        font-size: 11px;
        text-align: center;
        margin-bottom: 0px !important;
        background-color: #010203;
        padding: 10px;
    }
}

@media only screen and (max-width: 835px){
    .footer{
        &__container{
            flex-direction: column;
            align-items: center;
        }
        &__coloumn{
            max-width: max-content;
            width: 97%;
            text-align: center;
            margin: 0px;
            margin-bottom: 15px;
        }
    }
}