.footer{
    width: 100%;
    min-height: 250px;
    height: fit-content;
    padding: 20px 0;
    background-color: #07134D;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border-radius: 15px 15px 0px 0px;;
    &__image {
        @media (max-width: 550px) {
            margin: 0 auto;
        }
    }
    &__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__links {
        @media (max-width: 550px) {
            margin-top: 20px;            
        }
    }
    &__coloumn{
        margin: 0px 62px;
        max-width: 100px;
        a {
            transition: ease 0.2s;
            &:hover {
                text-decoration: underline;
                text-underline-offset: 5px;
                transition: ease 0.2s;
            }
        }
        @media (max-width: 960px) {
            margin: 0px 20px;
        }
        @media (max-width: 550px) {
            width: 100%;         
            text-align: center;   
        }
    }
    &__image{
        width: 180px;
        img{
            width: 109px;
            height: auto;
            margin-bottom: 17px;
        }
    }
    h5{
        color: #F79386;
        font-size: 14px;
        margin-bottom: 17px;
    }
    a,p{
        color:#fff;
        font-size: 14px;
        line-height: 17px;
    }
}