.header{
    position: relative;
    // sticky nav
    // position: fixed;
    top:30px;
    height: 50px;
    left:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    z-index: 2001;
    width: 100vw;
    &__container{
        max-width: 880px;
        height: 50px;
        width: 95%;
        position: relative;
        background-color: #fff;
        border-radius: 15px 15px 15px 15px;
        
        img{
            width: 32px;
            height: auto;
            position: absolute;
            margin-left: 32px;
            margin-top: 6px;
            cursor: pointer;
        }
    }
    &__underline{
        width: 50px;
        height: 2px;
        // border: 2px solid;
        background: #F79386;
        position: absolute;
        margin-top: 3px;
        opacity: 0.0;
        left: calc(50% - 25px);
    }
    .active{
        .header__underline{
            opacity: 1;
        }
    }
    &__nav-container{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
    }
    &__item{
        margin: 22.5px;
        position: relative;
        height: 100%;
        margin-top: 44px;
        text-align: center;
        a{
            font-size: 18px;
            color:#07134D !important;
            text-decoration: none;
        }
        &:hover{
            .header__item-dropdown{
                opacity: 1;
                transform: scale(1);
                pointer-events: all;
                transition: all 0.7s;
            }
        }
    }
    &__item-dropdown{
        pointer-events: none;
        position: absolute;
        background: #FFFFFF;
        box-shadow: -3px 4px 5px -1px rgb(0 0 0 / 5%), -7px 7px 12px 5px rgb(0 0 0 / 4%), inset -35px 35px 48px rgb(0 0 0 / 2%);
        border-radius: 10px;
        width: 165px;
        box-sizing: border-box;
        padding: 20px 0px;
        margin-top: 20px;
        left: -30px;
        opacity: 0.0;
        transform: scale(0.96);

    }
    &__sub-item{
        width: 100%;
        padding: 6px 20px;
        text-align: center;
        a{
            font-family: "Montserrat";
            font-weight: 400;
            font-size: 16px;
            height: 100%;
            width: 100%;
            color: #000000 !important;
            display: block;
        }
        &:hover{
            box-shadow: -3px 0px 6px rgba(0, 0, 0, 0.13), -10px 10px 12px 5px rgba(0, 0, 0, 0.02), inset -35px 35px 48px rgba(0, 0, 0, 0.02);
        }
    }
    $stroke-color: #000000;

    #hamburger {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        position: absolute;
        right: -16px;
        transform: scale(0.4);
        top: -27px;
        display: none;
        .line {
            fill: none;
            stroke: $stroke-color;
            stroke-width: 6;
            transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);

            &1 {
                stroke-dasharray: 60 207;
                stroke-width: 6;
            }
            &2 {
                stroke-dasharray: 60 60;
                stroke-width: 6;
            }
            &3 {
                stroke-dasharray: 60 207;
                stroke-width: 6;
            }
        }
    }
    &.mobileNavOpen{
        #hamburger .line {
            &1 {
                stroke-dasharray: 90 207;
                stroke-dashoffset: -134;
                stroke-width: 6;
            }
            &2 {
                stroke-dasharray: 1 60;
                stroke-dashoffset: -30;
                stroke-width: 6;
            }
            &3 {
                stroke-dasharray: 90 207;
                stroke-dashoffset: -134;
                stroke-width: 6;
            }
        }
    }
    // &__click-zone{
    //     // height: 100%;
    //     a{
    //         height: 100%;
    //     }
    // }
}


@media only screen and (max-width: 800px){
	/*Small smartphones [325px -> 425px]*/
    .header{
        &__nav-container{
            position: absolute;
            opacity: 0.0;
        }
        #hamburger{
            display: inherit;
        }
        &__item-dropdown{
            position: relative;
            opacity: 1;
            left: 0px;
            width: 100%;
            box-shadow: none;
            margin-top: 0px;
        }
        &__nav-container{
            position: absolute;
            opacity: 0;
            pointer-events: none;
            flex-direction: column;
            top: 61px;
            transition: 0.7s;
            height: auto;
            transform: scale(0.9);
            border-radius: 10px;
            background-color: #fff;
            padding: 25px 0px;
        }
        &__item {
            margin: 0px;
            margin-top: 0px;
            margin-bottom: 20px;
        }
        &__underline{
            opacity: 1;
        }
    }
    .header__sub-item:hover{
        box-shadow: none;
    }
    .mobileNavOpen{
        .header__nav-container{
            position: absolute;
            opacity: 1;
            transform: scale(1);
            transition: 0.7s;
            pointer-events: all;
        }
    }
}